

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    border-bottom: 1px solid #8b5cf6;
    height: 8vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    background-color: #1e1e2f;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #8b5cf6 ;
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #3b82f6;
}

</style>

<nav class="nav">
        <a href="/admin" >
           <h3 >Admin</h3>
        </a>


 </nav>